@font-face {
  font-family: PingFang JX SC;
  src: url("../../public/fonts/PF-JX-SC.ttf");
}

@font-face {
  font-family: PingFang Medium SC;
  src: url("../../public/fonts/PF-Medium-SC.ttf");
}

@font-face {
  font-family: PingFang X SC;
  src: url("../../public/fonts/PF-X-SC.ttf");
}

@font-face {
  font-family: PingFang XX SC;
  src: url("../../public/fonts/PF-XX-SC.ttf");
}

@font-face {
  font-family: PingFang ZC SC;
  src: url("../../public/fonts/PF-ZC-SC.ttf");
}

@font-face {
  font-family: PingFang ZH SC;
  src: url("../../public/fonts/PF-ZH-SC.ttf");
}