.music_list_content {
  width: 100%;
  padding-top: 14px;

  .music_list_detail_block {
    display: flex;

    img {
      border: 1px solid #d4d4d4;
      border-radius: 4px;
      height: 184px;
    }

    .music_list_detail {
      margin-left: 20px;

      .music_list_name {
        font-weight: bolder;
        font-family: "PingFang ZhongCu SC", sans-serif;
        font-size: 18px;
      }

      .creator {
        margin-top: 10px;
        font-size: 12px;

        img {
          border-radius: 50%;
          margin-right: 6px;
          height: 26px;
        }

        .createTime {
          margin-left: 6px;
          color: #acacac;
        }
      }

      .options {
        margin-top: 10px;

        .group_style {
          margin-right: 1.4px !important;
          padding-right: 0;
          border-top-left-radius: 32px;
          border-bottom-left-radius: 32px;
        }

        .group_plus {
          border-top-right-radius: 32px;
          border-bottom-right-radius: 32px;
          border-left: 1px solid #49bdc1;
        }

        .ant-btn-primary {
          background-color: #ec4141;
          border-color: #ec4141;
          margin-right: 10px;
        }
      }

      .misc {
        margin-top: 20px;
        position: relative;

        p {
          margin-bottom: 4px;
        }

        .default {
          width: 540px;
          margin-right: 10px;
          display: inline-block;
        }

        .description {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .caret {
          position: absolute;
          color: rgb(89, 89, 89);
        }
      }
    }
  }

  .music_list {
    margin-top: 20px;
    width: 774px;

    .spin {
      width: 100%;
      text-align: center;
      padding: 40px 10px;
    }

    /deep/ .el-table {
      .el-table__header-wrapper {
        .el-table__header {
          .has-gutter {
            tr {
              th {
                padding: 4px 0;
                font-size: 13px;

                .cell {
                  padding: 0 4px;
                }
              }
            }
          }
        }
      }

      .el-table__body-wrapper {
        .el-table__body {
          .el-table__row {
            td {
              padding: 4px 0;
              font-family: PingFang Thin SC, sans-serif;
              font-size: 13px;

              .cell {
                white-space: nowrap;
                padding: 0 4px;

                a {
                  color: #6b6b6b;
                }
              }
            }
          }
        }
      }
    }
  }
}