.sider-layout {
  min-height: calc(100vh - 62px);

  .ant-layout-sider {
    border-right: 1px solid rgba(236, 65, 65, .5);

    .ant-layout-sider-children {
      .ant-menu-inline {
        .ant-menu-item {
          padding-left: 10px!important;
          width: 180px;
          margin: 8px 10px;

          a {
            color: #222222;
          }

          &::after {
            border: none;
          }

          &:hover {
            background-color: rgba(241, 241, 241, 0.7);
            border-radius: 6px;
          }
        }

        .ant-menu-item-selected {
          background-color: rgba(241, 241, 241, 0.7);
          border-radius: 6px;

          a {
            color: #222222;
            font-size: 18px;
            font-weight: bold;
          }


          &::after {
            border: none;
          }
        }
      }
    }
  }
}